@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Bebas+Neue&family=Inconsolata&family=Lobster&display=swap");

body {
  margin: 0;
  font-family: "Lobster", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lobster", cursive;
}
